body {
  margin: 0;
  background: rgba(255, 255, 251);
  font-family: 'Fira Sans', BlinkMacSystemFont, -apple-system, 'Microsoft Yahei',
    'WenQuanYi Micro Hei', 'Noto Sans SC', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
pre,
code {
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  line-height: 1.35;
}
:not(pre) > code {
  padding: 0 0.3em;
  margin: 0 0.2em;
  background: #fdf6e3;
  border-radius: 0.3em;
}
a:link,
a:visited,
a:active {
  color: inherit;
}
a:hover {
  color: #666;
}

kbd {
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 0.6em;
  line-height: 1.4;
  vertical-align: middle;
  text-shadow: 0 1px 0 #fff;
  background-color: #e1e3e5;
  border: 1px solid #adb3b9;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.2), 0 0 0 2px #fff inset;
  white-space: nowrap;
}

html *::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}
body::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.03);
}
body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}
body *::selection {
  background: rgba(0, 0, 0, 0.1);
}
body *::-moz-selection {
  background: rgba(0, 0, 0, 0.1);
}

.dark-mode a:hover {
  color: #aaa;
}
.dark-mode :not(pre) > code {
  background: #1e1e1e;
}
.dark-mode kbd {
  text-shadow: 0 1px 0 #000;
  background-color: #444;
  border: 1px solid #666;
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.2), 0 0 0 2px #333 inset;
}
.dark-mode *::selection {
  background: rgba(255, 255, 255, 0.2);
}
.dark-mode *::-moz-selection {
  background: rgba(255, 255, 255, 0.2);
}
