* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:not(pre) > code {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  white-space: normal;
  word-break: break-all;

  background: rgba(127, 127, 127, 0.2);
}
