* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

a {
  color: inherit;
  word-break: break-all;
}
img {
  max-width: 100%;
}
h1,
h2,
h3 {
  margin-top: 24px;
  margin-bottom: 16px;
}
h1 {
  font-size: 32px;
}

:not(pre) > code {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  white-space: normal;
  word-break: break-all;

  background: rgba(127, 127, 127, 0.2);
}
