:root {
  --bg-color: #fff;
  --text-color: #222;
  --link-active-color: #666;
  --border-color: #ddd;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333;
    --text-color: #ddd;
    --link-active-color: #fff;
    --border-color: #666;
  }
}

html,
body {
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Fira Sans', BlinkMacSystemFont, -apple-system, 'Microsoft Yahei',
    'WenQuanYi Micro Hei', 'Noto Sans SC', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}
a {
  color: var(--text-color);
}
a:hover,
a:active {
  color: var(--link-active-color);
}

code {
  font-family: 'Fira Code', 'Source Code Pro', monospace;
}

.page {
  padding: 2.5rem 1.5rem;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}
/* .page > .header-wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 1.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
}
.header-wrapper > .page-heading {
  font-weight: bold;
  transition: transform 0.3s;
  font-size: 1rem;
  transform-origin: left center;
  word-break: keep-all;
}
.header-wrapper > .page-heading.h1 {
  transform: scale(2);
}
.header-wrapper > .page-heading.h2 {
  transform: scale(1.5);
}
.header-wrapper > .page-heading.h3 {
  transform: scale(1.25);
} */

.md-content {
  word-break: break-all;
}
.md-content img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.hr {
  border: none;
  height: 1px;
  background: var(--border-color);
  margin: 1.5rem 0;
}
